@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab&display=swap');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    font-family: "Playwrite PE", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),radial-gradient(99% 99% at 109% 2%, #FF8C00FF 0%, #FF000000 100%),radial-gradient(160% 154% at 711px -303px, #000000FF 0%, #000000FF 0%, #FFFFFFFF 1%, #FF9F00FF 100%);
}

h1, h2 {
    margin: 0;
}

form {
    width: 100%;
    height: 10%;
    
}

.botao {
    background-color: #ffffff34;
    background: linear-gradient(-45deg, #ffffff8b 0%, #ffffff41 35%, #ffffff88 100%);
    width: 20%;
    height: auto;
    font-size: 3em;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 80px;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.botao:focus{
    outline: none;
    background: linear-gradient(0deg, #ffffff8b 0%, #ffffff41 35%, #ffffff88 100%);
}

.botao:hover {
    scale: 1.1;
}

.album {
    display: flex;
    width: 100%;
    height: 30%;

}

.fotos-album {
    width: 25%;
    height: auto;
    background-color: #fff;
    margin: 0% 5%;
    box-shadow: 0 4px 8px 0 #00000053, 0 6px 20px 0 #00000040;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.fotos-album img {
    height: 90%;
}

.tempo{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #ffffff59;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
}


#countdown {
    font-size: 120px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.webcam{
    width: auto;
    height: 90%;
}

.foto {
    height: 25%;
    margin: 10px;
}

.left, .right {
    height: 100%;
    display: flex;
    margin: 0 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.left {
    background-color: #fff;
}

.right h2 {
    color: #fff;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    height: 10%;
    margin: 10px;
}

.container{
    display: flex;
    height: 100%;
}

.container a {
    color: #fff;
    background-color: #ffffff34;
    background: linear-gradient(-45deg, #ffffff8b 0%, #ffffff41 35%, #ffffff88 100%);
    width: 100%;
    height: auto;
    margin: 10px;
    font-size: 3em;
    border: 2px solid #fff;
    border-radius: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    transition: 0.2s;
}
.container a:hover {
    scale: 1.1;
}

@media print {
    .no-print, footer, .right {
        display: none;
    }
    .foto {
        height: 25%;
        width: 100%;
        margin: 10px;
    }
    @page {
        size: A4;
        margin: 20mm;
    }

    body {
        margin: 0;
    }
}

@keyframes fadeToWhite {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}

.fade-white {
    animation: fadeToWhite 1s forwards;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
} 

@keyframes whiteToFade {
    0% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}

.fade-out {
    animation: whiteToFade 1s forwards;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
} 