@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab&display=swap');
body {
    background-color: #fff;
    color: #000;
    font-family: "Playwrite PE", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

.botao {
    padding: 10px 0px;
    background-color: #fff;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #00000053, 0 6px 20px 0 #00000040;
}
