{% extends "base.html" %}

{% block title %}Memories{% endblock %}

{% block content %}
<img class="logo" id="ancora" src="static/images/logo.png" alt="">
<br><br>
<div class="album">
    {% if fotos %}
        {% for foto in fotos %}
            <div class="fotos-album">
                <img src="static/fotos/{{foto}}" alt="">
            </div>
        {% endfor %}
    {% else %}
        <div class="fotos-album">
            <img src="static/images/foto1.jpg" alt="">
        </div>
        <div class="fotos-album">
            <img src="static/images/foto2.png" alt="">
        </div>
        <div class="fotos-album">
            <img src="static/images/foto3.png" alt="">
        </div>
    {% endif %}
</div>
<h1>Registre este momento especial</h1>
<h2>&</h2>
<h1>leve com você uma foto de recordação</h1>
<br>
<form action="{{ url_for('tirar_foto') }}" method="post">
    <button class="botao" autofocus>Começar</button>
</form>
{% endblock %}